@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor_fundo: rgb(29, 29, 29);
    --cor_caption: lightgray;
    --cor_thead_tfoot: rgb(77, 77, 77);
    --cor_etados: rgb(14, 14, 187);
    --cor_odd: rgb(255, 255, 255);
    --cor_even: lightgray;
}

body {
    background-image: url('bandeira.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--cor_fundo);
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    margin: auto;
    max-width: 800px;
    border-collapse: collapse;
}

caption {
    font-size: 1.3em;
    padding: 10px;
    background-color: var(--cor_caption);
}

td, th {
    border: 1px solid black;
    padding: 8px;
}

th#posicao {
    width: 50px;
}

th#poptotal {
    width: 150px;
}

th#estado {
    width: 380px;
}

th#populacao {
    width: 170px;
}

thead, tfoot {
    background-color: var(--cor_thead_tfoot);
    color: white;
}

td.num {
    text-align: right;
}

td.pos {
    text-align: center;
}

td.total {
    text-align: center;
}

a.estados {
    text-decoration: none;
    color: var(--cor_etados);
}

a.estados:hover {
    text-decoration: underline;
}

tbody > tr:nth-child(odd) {
    background-color: var(--cor_odd);
}

tbody > tr:nth-child(even) {
    background-color: var(--cor_even);
}


@media(max-width: 600px) {
    caption {
        font-size: 1em;
    }

    th, td {
        font-size: 0.8em;
    }

    th#estado {
        width: 500px;
    }

    td, th{
        padding: 6px;
    }
}